# Module 0
- Foundational Python refresher...

Name: Carina Lim
Date: 13 September 2019

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [ ]:
# 3.14
# Select an option NoneType int float bool

print(type(3.14))

# float

In [ ]:
# -34
# Select an option NoneType int float bool
#integer

In [ ]:
# True
# Select an option NoneType int float bool
#Boolean

In [ ]:
# None
# Select an option NoneType int float bool
# NoneType

In [ ]:
# 3.0
# Select an option NoneType int float bool
# float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [ ]:
# Write the answers below

In [ ]:
#     3 > 4 | FALSE

#     4.0 > 3.999 | TRUE

#     4 > 4 | FALSE

#     4 > + 4 | FALSE

#     2 + 2 == 4 | TRUE

#     True and False  | FALSE

#     False or False | FALSE

#     not False | TRUE

#     (3.0 - 1.0) != (5.0 - 3.0) #| FALSE

#     3 > 4 or (2 < 3 and 9 > 10) | FALSE

#     4 > 5 or 3 < 4 and 9 > 8 | FALSE

#     not(4 > 3 and 100 > 6) | FALSE

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [ ]:
# the variable named 'a' is assigned a value of 5 and the variable 'a' is later compared with the equality operator to the float 5.0 which will result False

# Answer = 5

Ouput ??
```
b = 10
c = b > 9
c
```

In [ ]:
True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [ ]:
# abc
# bcbcbc
# Error, can't multiply string
# c
# Ab
# Ab
# cd

# "a" + "bc"

# 3 * "bc"

# "3" * "bc"

# "Abcd"[2]

# "Abcd"[0:2]

# "Abcd"[ :2 ]

# "Abcd"[2:]

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [ ]:
str1 = 'hello'
str2 = ','
str3 = 'world'

# - str1[0] |'h'

# - Str1[1] |'e'

# - str1[-1] | 'o'

# - len(str1) | 5

# - str1[ len(str1)-1 ] | 'o'

# - str1[-1 : len(str1)-1 ] | 'o'

# - str1 + str2 + str3 | 'hello,world'

# - str1 + str2 + ' ' + str3 | 'hello, world'

# - str3 * 3  | 'worldworldworld'

# - 'hello' == str1   | TRUE

# - 'HELLO' == str1  | FALSE

# - 'a' in str3  | FALSE

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [ ]:
str4 = 'helloworld'

# - 'low' in str4  | TRUE

# - str3[1:3] # | 'or'

# - str3[:3]  | 'wor'

# -[str3:-1]  #| 'error'

# - str1[1:]  | 'ello'

# - str4[1:9]  | 'elloworld'

# - str4[9:1:2] | ''

# - Str4[::-1] | 'ERROR'

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [ ]:
# blank as False do not have return statement

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [ ]:
# 'Nope'

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [ ]:
# 'Regal!'

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [ ]:
# 'Hot'

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [ ]:
# 'Cold'

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [ ]:
# prints 5 where the first instruction within the if function is true, 
# then 4 where the second instruction decreases the value of num by 1
# hence, the output is : 

# 5
# 4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [ ]:
# prints 0 at first then increments by 1 and the new incremented value is assigned to variable num 
# once it is beyond or greater than 5 the while loop stops and prints the string,
# followed by the latest num variable assigned

# 0
# 1
# 2
# 3
# 4
# 5
# "Outside of loop"
# 5


Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [ ]:
# Number of apples:4

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [ ]:
# as long as num is greater than 3, the while loop runs and prints the value assigned to the variable num 
# hence, the while loop will print the following :  

# 10
# 9
# 8
# 7
# 6
# 5
# 4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [ ]:
# 10 is not less than 7 hence it will print(num) and decrease by 1 value subsequently
# this will repeat until num is assigned a value lesser than 7 
# afterwhich the 'breaking out of loop' string will not repeat, and breaks out of the loop
# and executes the last prints function 

# 10
# 9
# 8
# 7
# Breaking out of loop
# Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [ ]:
num = 100
while not False:
    if num < 0:
        break
print('num is: ' + str(num))


# since num is not less than 0, it is False, hence the while loop does not run
# while loop only runs if the if statement is evaluated to be true
# hence, the while loop breaks out and the print statement is executed instead 
# Expected Output : 'num is: 100'

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [ ]:
def sum_of_n_numbers(n):
    acc = 0
    for i in range(1, n+1):
        acc += i
    return acc

def sum_of_n_numbers_while(n):
    acc = 0
    index = 1
    while index <= n:
        acc += index
        index += 1
    return acc

sum_of_n_numbers(10) == sum_of_n_numbers_while(10)

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [1]:
# Option 1 : 

index = 2
while index <= 10:
    print(index)
    index += 2

print("Goodbye!")

# Option 2 : 

num = 2
for num in range(2,10,2): 
#     num -=2
    print(num)
print("Goodbye!")

2
4
6
8
10
Goodbye!

C:\Users\C5270651\Anaconda\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [7]:
print("Hello!")

index = 10 
while index >= 2: 
    print(index)
    index -=2

Hello!
10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

In [19]:
# list(range(2,11,2))

print("Hello!") 


for num in range(10,0,-2):
 print(num)

Hello!
10
8
6
4
2

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)

Answer : 
    0
    1
    2
    3
    4
    4
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
    
Answer : 
0.0
1.0
2.0
3.0
4.0

   
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
        
Answer :         
0
Foo!
4
8
12
16
Foo!

```
---

4. 
```python
for letter in 'hola':
    print(letter) 
    
Answer : 
h
o
l
a
hola

```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)

Answer : 
Letter # 0 is S
1

```

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [ ]:
## Outputs...

animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

# Guess the output with respect to the given dict..

animals

divisor = 2
    for num in range(0, 10, 2):
    print(num/divisor)

animals['donkey'] | KeyError, use animals.get['donkey']

len(animals)

animals['a'] = 'anteater' 

len(animals['a'])

    'baboon' in animals | False

    'donkey' in animals.values()| True

    'b' in animals | True

    animals.keys() |

    del animals['b']
    len(animals)
    animals

animals.values() | it's a dict_value looks like a list but actually a dictionary, anteater, coati, donkey

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [15]:
x = (1, 2, (3, 'John', 4), 'Hi')
x[0] = 8

TypeError: 'tuple' object does not support item assignment

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

In [43]:
varA = 9
varB = 2

if type(varA) or type(varB) == str:
        print("String involved")
        
else type(varA) & type(varB) == int:
        if varA > varB:
            print("bigger")
        elif varA == varB: 
            print("equal")
        else varA < varB:
            print("smaller")

String involved

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [20]:
s = 'sdfhsdguheaaapirugkadnv'
count=0
for i in s:
    if i in ['a','e','i','o','u']:
        count +=1
        
print(count)

8

In [21]:
# list(map(str.count,s))

# sum(map(s.count, [a,e,i,o,u])) # with bracket is calling a function, without bracket is passing a fx